@import "tailwindcss";

@font-face {
    font-family: 'Vazir';
    src: url('Vazir.eot');
    src: url('Vazir.eot?#iefix') format('embedded-opentype'),
        url('Vazir.woff2') format('woff2'),
        url('Vazir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Vazir';
}

@layer base {
    .row {
        @apply flex flex-wrap
    }

}

@layer components {}

@layer utilities {}

@layer theme {}

.jdp-time>select {
    font-size: 14px !important;
}